# Introduction to Python 3 Exercises with Jupyter Notebook#

**Welcome!** This notebook will teach you the basics of the Python programming language.By the end of this notebook, you'll know how to write basic commands and how to execute on Jupyter Notebook, understand some basic types, and how to perform simple operations on them.

**Tip:** If you want to know more about JupyterLab and Jupyter Notebook , you should check [this website](https://jupyter.org).

<h2 id="hello">Print "Hello, Python!" </h2>

When learning a new programming language, it usually starts with an **"hello world"** example. With this simple code, you learn to execute a command and print it out.

In [4]:
# Your first Python output

print('Hello, Python!') # You can test your own code in the cell and then press Shift+Enter to execute the cell

Hello, Python!

### What version of Python we are using ###

In [1]:
# Check the Python Version

import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

**Tip:** *__sys__* is a built-in module that contains many system-specific parameters and functions. Before using it, we must *__import__* it.

### Writing comments in Python ###

To write comments in Python, use the symbol **#** before writing your comment.

In [3]:
# Writing comments

print('Hello, Python!') # This line prints Hello, Python!

# Adding comments will help others understand your code.

Hello, Python!

### Errors in Python ###

In [1]:
# Print string with wrong function

write("Message...")

NameError: name 'write' is not defined

The error message tells you: 
    1. where the error occurred ( which line), and
    2. what kind of error it was (NameError)
    Here, Python attempted to run the function ***write***, but could not determine. It has not been previously defined.

In [2]:
# Another build in error message by missing syntax

print("Hello, Python!)

SyntaxError: EOL while scanning string literal (<ipython-input-2-6d1de7097ee3>, line 3)

**Tip:** If you want to know more about Python errors and exceptions , you should visit [this website](https://docs.python.org/3/tutorial/errors.html#).

## Types of objects in Python ##

Most command types of objects are integer, float, string and boolean.     
**Integer** : Integers can be negative and positive numbers.       
**Float**   : Floats are a superset of integer numbers but also include **numbers with decimals**.    
**Boolean** : Booleans can be only one of two values: **True** or **False** .     
Some types examples are shown below. You can also write your own code in these cells and execute it.

In [6]:
# Type Integer
2345

2345

In [7]:
# Type Float
3.789

3.789

In [8]:
# Type String

"My name is Selda Aydogmusoglu..."

'My name is Selda Aydogmusoglu...'

In [20]:
# Type Boolean
True
#False

True

You can get the type of an expression by using the built-in **type()** function. Python refers to integers as **int**, floats as **float**, character strings as **str**, and booleans as **bool**.

In [10]:
# Type of 2019

type(2019)

int

In [11]:
# Type of 13.678

type(13.678)

float

In [12]:
# Type of "Selda Aydogmusoglu"

type("Selda Aydogmusoglu")

str

In [22]:
# Type of True or False

type(True)
# bool(1) 
# bool (0)

True

**Tip** : You can change the type of the object in Python; this is called *__typecasting__*. Let's look at some examples.

In [23]:
# this is an integer 
type(35)

int

In [28]:
# Convert 35 to a float and check its type.

float(35)

# type(float(35))

35.0

In [30]:
# Converting 2.35 to integer will result in loss of 0.35

int(2.35)

2

In [31]:
# Convert a string into an integer

int('25')

25

In [32]:
# Convert a string into an integer with error. 
# if string is not a perfect match for a number, you'll get an error.

int('15 or 16 apples')

ValueError: invalid literal for int() with base 10: '15 or 16 apples'

In [33]:
# Convert the string "5.78" into a float

float('5.78')

5.78

In [34]:
# Convert an integer to a string

str(17)

'17'

In [35]:
# Convert a float to a string

str(100.78)

'100.78'

In [36]:
# Convert boolean True to int

int(True)

1

In [41]:
# Convert 1 to boolean

bool(1)

True

In [38]:
# Convert 0 to boolean

bool(0)

False

In [39]:
# Convert True to float

float(True)

1.0

Congragulations...This is the end of the first Basic Python Programming Language exercises on **__Jupyter Notebook__**. You can try your own code in all cells. You should do more exercises to understand clearly. Have a nice days until my next sharing :)